.logo{
    position: fixed;
    width: 80px;
    left:20px

}
.navbar{
    top:0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #111;
    height: 30px;
}
.avatar {
    position: fixed;
    right: 20px;
    width: 30px;
}